@use "variables" as v;

.container {
  width: 100vw;
  height: 200vh;
  padding: 30px;
  background-image: v.$bg-container;
  main {
    background-image: v.$bg-main;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-width: 400%;
    margin: 0px auto;
    box-shadow: v.$shadow;
    border: solid 0.1rem;
    border-color: v.$border-color;
    h1 {
      font-family: v.$font-family;
      color: v.$color-font;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      padding: 0.3rem;
    }
  }
  .card {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;

    form {
      display: grid;
      fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        padding: 0.2 rem 0;
        h3 {
          font-family: v.$font-family;
          color: v.$color-font;
          font-weight: 500;
          font-size: 15px;
        }
        label {
          font-family: v.$font-family;
          font-size: 1rem;
          margin-top: 0.2rem;
        }
        input {
          border-radius: 5px;
          padding: 5px;
          font-family: v.$font-family;
          color: v.$color-font;
          font-weight: 700;
        }
        .check {
          margin-left: 20px;
        }
        p {
          font-family: v.$font-family;
          font-size: 11px;
          color: v.$error;
          font-weight: 700;
        }
      }
    }
    button {
      border-radius: 150px;
      padding: 8px;
      font-family: v.$font-family;
      font-weight: 800;
      font-size: 15px;
      background-color: #1e7558;
      box-shadow: v.$shadow;
      border: solid 1px;
      text-transform: uppercase;
      justify-self: center;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}
